QTabBar::tab{
height:36px;
margin:15px;
padding:10px 20px;
border:none;
font-size:20px;
border-radius:10px;
}


QTabBar::tab:hover{
color:#01875f;
}
QTabBar::tab:selected{
background:#eee;
color:black

}



QTabWidget::pane{
border:none;
margin:20px;
border-radius:20px;
}

*
{
background:white;
}


